.banquet-facility{

  margin-bottom: 9rem;

  &__body{
    margin-bottom: 4.5rem;
  }

   &__triple{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin-top: 24px;
  }

  &__image{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;

    &--triple{
      object-fit: cover;
      width: 100%;
    }
  }
  
  &__section-heading{
    margin-bottom: 44px;
  }

  &__section{
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &__container{
    display: grid;
    grid-template-columns: 5fr 4fr;
    gap: 28px;

    @media screen and (max-width: $breakpoint-tablet){
      display: block;
    }
  }

  &__body--right{
    padding-bottom: 2.5rem;
    
    @media screen and (min-width: $breakpoint-tablet){
      h4{
        margin-top: 0px;
        margin-bottom: 0.5rem;
      }
    }
  }
}
