.title{
    //styleName: Desktop/H1;
    font-weight: 400; 
    font-style: normal;       
    font-size: 42px;
    font-family: Lora;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.body{
    //styleName: Desktop/P2;
    margin-bottom: 75px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.section-three__body{
    margin-bottom: 171px;
    /* stylelint-disable */
     h4 {
        margin-top: 38px;
        font-weight: bold;
        font-style: normal;
        font-size: 24px;
        font-family: Poppins;
        line-height: 24px;
        text-transform: uppercase;
        }
    li {
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        font-family: Poppins;
        line-height: 24px;
        }
    li + li{
        padding-top: 12px;
    } 
    /* stylelint-enable */
}