.about-mission-purpose {
  &__body {
    margin-bottom: 4.5rem;

    h4 {
      font-weight: 700;
      text-transform: uppercase;
    }

    li + li {
      padding-top: 12px;
    } 
  }
}

@media screen and (max-width: $breakpoint-tablet){
  .about-mission-purpose {
    h2 {
      font-size: 22px;
      text-align: center;
    }

    &__body {
      h4 {
        text-align: center;
      }

      li + li {
        padding-top: 32px;
      }
    }
  }
}
