.performing-arts {
  &__container {
    margin-bottom: 5rem;
    
    @media screen and (max-width: $breakpoint-laptop) {
      padding: 0 1rem;
    }  
  }

  &__description {
    margin-bottom: 3rem;
  }
}
  