.card-event {
  position: relative;
  padding: .5rem;
  box-shadow: $card-event-shadow;

  &__title {
    font-weight: 500;
    font-size: 24px;
  }

  &__date {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: $white;
    color: $primary-1;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 250px;
  }

  &__full-date {
    color: $grey;
  }

  &__spacer {
    margin: auto .3rem;
  }

  &__location {
    color: $grey;
  }

  &__button {
    text-align: right;

    .button {
      font-weight: 400;
      text-transform: none;
    }
  }
}
