.club {
  &__breadcrumb {
    margin-top: 6vh;

    &--item {
      margin: 10px;
    }
  
    &--item:hover {
      color: $primary-1;
    }
  }
  
  &__header {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 10vh;

    &--image {
      max-width: 90px;
      max-height: 90px;
      margin-right: 2vw;
    }

    &--title {
      align-items: center;
      max-width: 40vw;
      font-weight: bold;
      font-size: 2.5vw;
      font-family: Lora;
    }
  }

  &__description {
    max-width: 60vw;
  }
  
  &__newsletter {
    max-width: 8vw;
    border-radius: 20px;
    padding: 10px;
    background-color: $primary-1;
    color: $white;
    text-align: center;
    cursor: pointer;
  }

  &__contact {
    width: 20vw;
    margin-top: 10vh;

    &--title {
      font-weight: bold;
      font-size: 1.5vw;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;

    &--item {
      display: inline-flex;
      max-width: 30px;
      max-height: 30px;
    }
  }
}
