.club {
  &__breadcrumb {
    margin-top: 6vh;
  }

  &__breadcrumb--item {
    margin: 10px;
  }

  &__breadcrumb--item:hover {
    color: $dark-purple;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 10vh;

    &--image {
      max-width: 90px;
      max-height: 90px;
      margin-right: 2vw;
    }

    &--title {
      align-items: center;
      max-width: 40vw;
      font-weight: bold;
      font-size: 2.5vw;
      font-family: Lora;
    }
  }

  &__description {
    max-width: 60vw;
  }

  &__contact {
    width: 20vw;
    margin-top: 10vh;

    &--title {
      font-weight: bold;
      font-size: 1.5vw;
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;

    &--item {
      display: inline-flex;
      max-width: 30px;
      max-height: 30px;
    }
  }
}
