@import "../../styles//utilities/colors.scss";
@import "../../styles/fonts.scss";
@import "../../styles/utilities/breakpoints.scss";

.get-involved {
  &__description {
    height: 65px;
  }

  &__items {
    list-style: none;
    text-decoration-line: underline;
    line-height: 24px;
    column-count: 2;
      
      &--link:hover {
        color: $dark-purple;
        font-weight: 800;
      }
  }
}
