.Newsletter {
    max-width: 7em;
    border-radius: 20px;
    padding: 10px;
    background-color: $primary-1;
    color: $white;
    text-align: center;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-mobile) {
        margin: auto;
      }
}