@import '../../../styles/fonts';
@import '../../../styles/colors';

.custom-donate-col {
  font-family: 'Open Sans';
  text-align: center;
  max-width: 300px;
  margin: 24px;

  &--icon {
    margin: 0 auto;
    background: $light-grey;
    border-radius: 50%;
    width: 110px;
    height: 110px;
  }

  &--subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &--text {
    font-size: 14px;
  }

  &--modal-link {
    background: none;
    border: none;
    color: $dark-purple;
    margin-top: 8px;

    &:focus {
      outline: none;
    }
  }
}
