$max_event_content_width: 800px;

.event {
  display: grid;
  grid-template-columns: 4fr 5fr;
  margin: 1.5rem auto;
 
  &__section--left{
    order: -1;
  }

  &__image {
    width: 100%;
    max-width: 600px;
  }

  &__details, &__date, &__location {
    max-width: $max_event_content_width;
  }

  &__date {
    font-weight: 700;
    font-size: 24px;
  }

  &__spacer {
    margin: auto .4rem;
  }
}

@media screen and (max-width: $breakpoint-tablet){
  .event {
    display: block;
    margin: 0 auto 48px;

    &__title{
      font-weight: 600;
      font-size: 24px;
      font-family: $poppins;
    }

    &__date, &__location{
        color: $grey;
        font-weight: 300;
        font-size: 16px;
    }
  }
}
