@import './../../styles/fonts.scss';
@import './../../styles/breakpoints.scss';
@import './../../styles/alignment.scss';

.container {
  display: grid;
  text-align: center;
  max-width: $breakpoint-laptop-large;
  margin: 0 16px;
  padding: 5px;
}

$total-columns: 12;
@for $i from 1 through $total-columns {
  .cols-#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
    grid-auto-flow: row;
    @media screen and (max-width: $breakpoint-tablet) {
      grid-template-columns: repeat(#{calc(#{$i}/ 2)}, 1fr);
    }
    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
  }
}
