@import './../../styles/fonts.scss';
@import './../../styles/utilities/breakpoints.scss';
@import './../../styles/utilities/alignment.scss';

$total-columns: 12;

.container {
  display: grid;
  max-width: $breakpoint-laptop-large;
  margin: 0 auto;
  text-align: center;
}

@for $i from 1 through $total-columns {
  .container__col--#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
    grid-auto-flow: row;
    row-gap: 3rem;
    column-gap: 3rem;

    @media screen and (max-width: $breakpoint-tablet) {
      grid-template-columns: repeat(ceil($i/2), 1fr);
      row-gap: 2rem;
      column-gap: 2rem;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      column-gap: 1rem;
    }
  }
}
