@import './../../styles/fonts.scss';
@import './../../styles/utilities/breakpoints.scss';
@import './../../styles/utilities/alignment.scss';

$total-columns: 12;

.container {
  display: grid;
  max-width: $breakpoint-laptop-large;
  margin: 0 16px;
  text-align: center;
}
/* stylelint-disable */

@for $i from 1 through $total-columns {
  .container__col--#{$i} {
    grid-auto-flow: row;
    grid-template-columns: repeat(#{$i}, 1fr);

    @media screen and (max-width: $breakpoint-tablet) {
      grid-template-columns: repeat(#{calc(#{$i}/ 2)}, 1fr);
    }

    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
  }
}
/* stylelint-enable */
