$total-columns: 12;

.container {
  display: grid;
  max-width: $breakpoint-laptop-large;
  margin: 0 auto;
}
/* stylelint-disable */

@for $i from 1 through $total-columns {
  .col__#{$i} {
    grid-auto-flow: row;
    grid-template-columns: repeat(#{$i}, 1fr);

    @media screen and (max-width: $breakpoint-tablet) {
      grid-template-columns: repeat(#{calc(#{$i}/ 2)}, 1fr);
    }

    @media screen and (max-width: $breakpoint-mobile) {
      grid-template-columns: 1fr;
    }
  }
}
/* stylelint-enable */
