@import '../../../styles/fonts';
@import '../../../styles/colors';

.donate-section-one {
  margin: 64px auto 32px;
  
  &--title {
    color: $black;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;

    @media(max-width: 960px) {
      max-width: 600px;
      margin: 0 auto 16px;
    }
  }

  &--body {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media(max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
