// Default Colors
$white: #FFFFFF;
$black: #242728;
$dark-grey: #494949;
$grey: #646668;
$lighter-grey: #F7F7F7;
$light-grey: #DADADA;
$danger: #FF0000;

// Custom Colors
$darkest-purple: #5E264E;
$dark-purple: #763263;
$purple: #9F4E8D;
$light-purple: #EFE8F6;
$lighter-purple: #F7F0F5;
$dark-green: #194F1A;

// Overlays
$overlay-light-grey: rgba(247, 249, 252, 0.9);
$overlay-darker-grey: rgba(80, 68, 68, 0.35);
