// Default Colors
$white: #FFFFFF;
$black: #242728;
$dark-grey: #494949;
$grey: #646668;
$lighter-grey: #F7F7F7;
$light-grey: #DADADA;
$danger: #FF0000;

// Custom Colors
$darkest-purple: #5E264E;
$dark-purple: #763263;
$purple: #9F4E8D;
$light-purple: #EFE8F6;
$lighter-purple: #F7F0F5;
$dark-green: #194F1A;

// Box Shadows
$card-large-shadow: 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12);
$card-small-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
0px 1px 10px rgba(0, 0, 0, 0.2);
$card-square-shadow: 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12);
