// Default Colors
$white: #FFFFFF;
$black: #242728;
$dark-grey: #494949;
$grey: #646668;
$lighter-grey: #F7F7F7;
$light-grey: #F7F7F7;
$danger: #FF0000;

// Custom Colors
$darkest-purple: #4F2C80;
$dark-purple: #4F2C80;
$purple: #A183CC;
$light-purple: #E2D8EF;
$lighter-purple: #F5F0FC;
$dark-green: #285F1A;

// Box Shadows
$card-blank-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
$card-large-shadow: 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12);
$card-small-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
$card-square-shadow: 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12);

// Overlays
$overlay-light-grey: rgba(247, 249, 252, 0.9);
$overlay-darker-grey: rgba(80, 68, 68, 0.35);
