h2 {
  font-size: 42px;
  font-family: $lora;
  line-height: 31px;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  font-family: $poppins;
  line-height: 36px;
  text-transform: capitalize
}

h5 {
  font-weight: 300;
  font-size: 13px;
  font-family: $poppins;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

body, html {
  font-family: $poppins;
}
