@import "styles/utilities/colors.scss";
@import "styles/utilities/borders.scss";

.card-blank {
  min-width: 280px;
  border-radius: $card-border-radius;
  background: $white;
  box-shadow: $card-blank-shadow;
  text-align: center;
}

@media screen and (max-width: $breakpoint-mobile) {
  .card-blank {
    margin: 16px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.14);
  }
}
