.donate-section-two {
  margin: 64px auto 32px;

  &__title {
    margin: 0 auto 48px;
    padding: 0 30px;
    color: $black;
    font-weight: 600;
    font-size: 32px;
    font-family: $lora;
    line-height: 48px;
    text-align: center;
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @media(max-width: $breakpoint-mobile-large) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__col {
    max-width: 300px;
    margin: 0 30px;
    text-align: center;

    @media(max-width: $breakpoint-mobile-large) {
      margin-bottom: 32px;
    }
  }

  &__icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 95px;
    margin: 0 auto;
    border-radius: 50%;
    background: $light-grey;
  }

  &__icon {
    width: 70px;
    height: 70px;
    fill: $white;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__text {
    font-size: 14px;
  }
}
