@import 'styles/fonts';
@import 'styles/utilities/colors';
@import 'styles/utilities/breakpoints';

.donate-section-two {
  max-width: 900px;
  margin: 64px auto 152px 0;

  @media (max-width: $breakpoint-tablet) {
    margin: 64px 30px 48px;
  }
  
  &__title {
    margin: 0 auto 72px;
    color: $black;
    font-weight: 600;
    font-size: 32px;
    font-family: $open-sans;
    line-height: 48px;

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 32px;
      text-align: center;
    }
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    @media(max-width: $breakpoint-mobile-large) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__col {
    max-width: 300px;
    margin: 0 24px;
    text-align: center;

    @media(max-width: $breakpoint-mobile-large) {
      margin-bottom: 32px;
    }

    @media (max-width: $breakpoint-mobile) {
      margin: 0 auto 32px;
    }

    &:first-child {
      margin-left: 0;
      @media(max-width: $breakpoint-mobile-large) {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &:last-child {
      margin-right: 0;
      @media(max-width: $breakpoint-mobile-large) {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &__icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 95px;
    margin: 0 auto;
    border-radius: 50%;
    background: $light-grey;
  }

  &__icon {
    width: 70px;
    height: 70px;
    fill: $white;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__text {
    font-size: 14px;
  }
}
