/* breakpoint variables */

$breakpoint-laptop-large: 1440px;
$breakpoint-laptop: 1200px;
$breakpoint-tablet-large: 1024px;
$breakpoint-tablet: 960px;
$breakpoint-mobile-large: 768px;
$breakpoint-mobile: 480px;
