:root {
  // Default Colors
  --white: #ffffff;
  --black: #000000;
  --danger: #ff0000;

  // Custom Colors
  --gray: #494949;
  --magenta-dark: #763263;
  --magenta: #9f4e8d;
  --magenta-light: #efe8f6;
  --magenta-lighter: #f7f0f5;
  --green: #285f1a;
}
