// Default Colors
$white: #ffffff;
$black: #242728;
$light-grey: #DADADA;
$dark-grey: #494949;
$danger: #FF0000;

// Custom Colors
$darkest-purple: #5E264E;
$dark-purple: #763263;
$purple: #9F4E8D;
$light-purple: #EFE8F6;
$lighter-purple: #F7F0F5;
$dark-green: #194F1A;
