// Default Colors
$white: #ffffff;
$black: #242728;
$dark-grey: #494949;
$danger: #ff0000;

// Custom Colors
$dark-purple: #763263;
$purple: #9f4e8d;
$light-purple: #efe8f6;
$lighter-purple: #f7f0f5;
$dark-green: #194f1a;
