@import './fonts.scss';

* {
  font-family: $open-sans;
  font-size: 16px;
  line-height: 22px;
}

h2 {
  font-family: $lora;
  font-size: 42px;
  line-height: 48px;
}

h4 {
  font-family: $poppins;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-transform: capitalize
}

h5 {
  font-family: $poppins;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
}

.nav-text {
  font-family: $poppins;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.03);
}

.button-text {
  font-family: $poppins;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
