.title{
    @media screen and (max-width: $breakpoint-mobile) {
      text-align: center;
    }

    &__left {
      text-align: start;
      
      @media screen and (max-width: $breakpoint-mobile) {
        margin: 0 2rem 0 2rem;
        text-align: center;
        
        h2 {
          line-height: 3rem;
        }
      }
    }

    &__center {
      text-align: center;
    }

    &__right {
      text-align: end;
    }
}
