.contact {
  &__title {
    @media screen and (max-width: $breakpoint-mobile) {
      text-align: center;
    }
  }

  &__section {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;

    h3 {
      flex-basis: 100%;
    
      @media screen and (max-width: $breakpoint-mobile) {
        text-align: center;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    width: 30%;

    &--item {
      display: inline-flex;
      max-width: 30px;
      max-height: 30px;
      color: $black;
    }
  }

  &__col {
    flex-basis: 50%;

    @media screen and (max-width: $breakpoint-mobile) {
      flex-basis: 100%;
      margin-left: 10%;
      text-align: left;
      
      h3 {
        text-align: left;
      }
    }
  }

  &__map {
    &--main {
      width: 100%;
      height: 300px;
      margin-top: 1rem;
      @media screen and (max-width: $breakpoint-mobile) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @media screen and (max-width: $breakpoint-mobile) {
        display: block;
        width: 90%;
        height: 300px;
        margin-right: 5rem;
      }
    }
  }
}
