.home {
  &__section {
    padding: 6rem 0;

    &:nth-child(even) {
      background-color: $primary-4;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .home {
    &__title {
      margin: 4px 0 26px;
      font-size: 22px;
    }

    &__section {
      padding: 24px 0;
    }
  }
}

.home__section__community {
  .container__col--3 {
    @media screen and (max-width: $breakpoint-mobile-large) {
      grid-template-columns: 1fr;
    }
  }
}
