.home {
  &__section {
    padding: 6rem 0;

    &:nth-child(even) {
      background-color: $primary-4;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
  }
}
