.home {
  &__section {
    padding: 6rem 0;

    &:nth-child(even) {
      background-color: $primary-4;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.card-blank__subscribe {
  padding: 50px 80px;
  text-align: left;

  .button {
    width: 100%
  }
}

.card-blank__newsletter {
  padding: 50px 80px;
  text-align: left;

  p {
    margin-bottom: 24px;
  }
}

.card-blank__input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  border-style: solid;
  border-radius: 4px;
  padding: 10px;
}

@media screen and (max-width: $breakpoint-mobile) {
  .home {
    &__title {
      margin: 28px 0 43px;
      font-size: 22px;
    }

    &__section {
      padding: 24px 0;
    }
  }

  .card {
    &-blank {
      &__newsletter,
      &__subscribe {
        padding: 16px;

        h3 {
          margin-top: 0;
          text-align: center;
        }
      }
    }

    &-square {
      &__text {
        padding-top: 20px;
      }
    }
  }
}
