@import './../../styles/fonts.scss';
@import './../../styles/utilities/breakpoints.scss';

/* stylelint-disable */
.cards--large {
  padding: 30px;
  background-color: #f2edf8;
}

.cards--small {
  padding: 30px;
}

.cards--square {
  padding: 30px;
  background-color: #f2edf8;
}

.card-large {
  margin: 10px;
}

.card-small {
  margin: 10px;
}

.card-square {
  margin: 10px;
}