@import 'styles/fonts.scss';
@import 'styles/utilities/breakpoints.scss';
@import 'styles/utilities/colors.scss';

.card-demo {
  &--large {
    padding: 30px;
    background-color: $light-purple;
  }

  &--small {
    padding: 30px;
  }

  &--square {
    padding: 30px;
    background-color: $light-purple;
  }
}

.card-demo {
  &--large-card {
    justify-self: center;
    max-width: 600px;
    margin: 10px;
  }

  &--small-card {
    justify-self: center;
    margin: 10px;
  }

  &--square-card {
    justify-self: center;
    margin: 10px;
  }
}
