@import 'styles/utilities/breakpoints.scss';

.layout {
  display: grid;
  grid-template-columns: 25% auto;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  column-gap: 24px;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  &__sidenav {
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}
