.club {
  &__container {
    margin: 2rem auto;
  }  

  &__image {
    display: inline-flex;
    max-width: 90px;
    max-height: 90px;
    margin-top: 9px;
    margin-right: 18px;

    @media screen and (max-width: $breakpoint-mobile) {
        margin: auto;
    }
  }

  &__title-box {
    display: inline-flex;

    @media screen and (max-width: $breakpoint-mobile) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      text-align: center;
    }
  }
  
  &__title {
    display: inline-flex;
  }

  &__description {
    margin: 3rem 0 3rem 0;
  }
}
