.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  align-items: center;
  justify-content: center;

  &--overlay {
    background-color: var(--black);
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  &--container {
    position: absolute;
    background: var(--white);
    padding: 48px;
  }

  &--close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}
