@import 'styles/utilities/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/utilities/typography.scss';

$card-image-height: 330px;

.card-large {
  display: grid;
  grid-template-areas: 'image' 'text' 'button';
  grid-template-rows: $card-image-height auto 74px;
  border-radius: 5px;
  background: $light-grey;
  box-shadow: $card-large-shadow;
  text-align: center;
}

.card-large__image {
  grid-area: image;
  object-fit: cover;
  width: 100%;
  height: $card-image-height;
  margin: 0 auto;
}

.card-large__text {
  grid-area: text;
  padding-top: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: Poppins;
}

.card-large__header {
  margin: 24px auto;
  font-size: 27px;
  line-height: 37px;
}

.card-large__body {
  margin: 0 60px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 25px;
}

.card-large__button {
  grid-area: button;
  grid-row: 50px;
  height: 45px;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

