@import './../../../styles/utilities/colors.scss';
@import './../../../styles/utilities/fonts.scss';
@import './../../../styles/utilities/typography.scss';

$card-image-height: 330px;

/* stylelint-disable */
.card-large {
  display: grid;
  max-width: 600px;
  min-height: 610px;
  background: $light-grey;
  border-radius: 5px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12);
  grid-template-areas: 
    "image"
    "text"
    "button";
  grid-template-rows: $card-image-height auto 74px;
  text-align: center;
  overflow: hidden;
  justify-self: center;
}
/* stylelint-enable */

.card-large__image {
  grid-area: image;
  object-fit: cover;
  width: 100%;
  height: $card-image-height;
  margin-right: auto;
  margin-left: auto;
}

.card-large__text {
  grid-area: text;
  padding-top: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: Poppins;
}

.card-large__header {
  margin: 20px 0;
  font-size: 27px;
  line-height: 37px;
}

.card-large__paragraph {
  margin: 0 60px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 25px;
}

.card-large__button {
  grid-area: button;
  grid-row: 50px;
  width: 120px;
  height: 45px;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  border-style: none;
  border-radius: 120px;
  background: $purple;
  color: $light-grey;
}
