.contact-info {
  margin-top: 10vh;
  
  @media screen and (max-width: $breakpoint-mobile) {
    margin: 3rem 2rem 3rem 2rem;
    text-align: left;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5vw;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 5vw;
    }
  }
}
