.sidebar {
  @media (max-width: $breakpoint-laptop) {
    display: none;
  }

  &__card {
    margin: 1.5rem auto;
    border-radius: 4px;
    padding: 1.5rem 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

    &--center {
      padding: 1rem 1.5rem;
      text-align: center;
    }
  }

  &__icon {
    width: auto;
    height: 55px;
  }

  &__link {
    padding: .5rem 1rem;

    &:hover {
      background-color: $purple;
      color: $white;
    }
  }

  &__parent {
    position: relative;
    margin-bottom: .8rem;
    padding-bottom: .8rem;
    font-weight: 500;
    font-size: 18px;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px solid $light-grey;
    }
  }

  &__newsletters {
    margin-top: 8px;
  }

  .button {
    font-weight: 500;
    text-transform: none;
  }
}
