.footer {
  background-color: $primary-1;
  color: $white;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: .5px;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
    padding: 3rem 1rem;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  &__link {
    margin: 1rem;
  }

  &__logo {
    width: 125px;
    height: 125px;
    margin: 4rem auto;
    fill: $white;
  }

  &__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    justify-content: center;
    margin-bottom: 2rem;

    &--col {
      max-width: 240px;
      line-height: 24px;
      text-align: center;

      @media (max-width: $breakpoint-tablet) {
        margin: 1rem auto;
      }
    }

  }

  &__social-icon {
    width: 40px;
    height: 40px;
    margin: auto 1rem;
  }
}
