@import '../../styles/utilities/colors';

.footer {
  background-color: $darkest-purple;
  color: $white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .5px;

  &__container {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    margin: auto;
  }

  &__links {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  &__link {
    margin: 1rem;
  }

  &__logo {
    margin: 4rem auto;
  }

  &__contact {
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr;

    &--col {
      max-width: 240px;
      line-height: 24px;
      text-align: center;
      
      @media (max-width: 840px) {
        margin: 1rem auto;
      }
    }

    @media (max-width: 840px) {
      display: block;
    }
  }

  &__social-icon {
    margin: auto 1rem;
  }
}
