.header {
    display: flex;
    align-items: center;

    @media screen and (max-width: $breakpoint-mobile) {
      flex-wrap: wrap;
    }

    &__image {
      max-width: 90px;
      max-height: 90px;
      margin-right: 2vw;

      @media screen and (max-width: $breakpoint-mobile) {
        margin: auto;
      }
    }

    &__title {
      align-items: center;
      font-weight: bold;
      font-family: Lora;

      @media screen and (max-width: $breakpoint-mobile) {
        text-align: center;
      }
    }
  }