@import '../../styles//utilities/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/utilities/breakpoints.scss';

.nav-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 1rem 2rem;
  @media (min-width: $breakpoint-laptop) {
    display: none;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: $dark-grey;
    font-size: 1.5rem;

    &--sm {
      margin: 0;
      padding: 0;
      color: $black;
      font-size: .8rem;
    }
  }

  &__sidebar {
    @keyframes slideIn {
      from {
        right: -20rem;
      }

      to {
        right: 0;
      }
    }

    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 35%;
    height: 100%;
    padding: 2rem;
    background-color: $white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    animation: slideIn 0.4s;

    &--close {
      align-self: flex-end;
      margin: 1rem 0;
    }

    &--items {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &--item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
      font-weight: 600;
    }

    &--dropdown{
      @keyframes dropDown {
        from {
          height: .1%;
        }

        to {
          height: 100%;
        }
      }
      animation: dropDown 0.5s ease-out;

      &-item {
      display: flex;
      margin: 0 -2rem;
      padding: .5rem 2rem;
      background-color: $light-purple;
      font-weight: 100;
      }
  }

    &--break {
      display: flex;
      width: 98%;
      height: 1px;
      border: 1px;
      background-color: $dark-purple;
    }

    &--footer{
      display: flex;
      flex-direction: column;
      padding: 1rem 0rem;

      &-link{
        display: flex;
        padding: .5rem 0;;
      }

      &-button{
        align-self: center;
        margin-top: 1rem;
      }
    }
  }
}