@import '../../styles//utilities/colors.scss';
@import '../../styles/utilities/breakpoints.scss';
@import '../../styles/utilities/fonts.scss';

.nav-mobile{
  display: none;
}

@media screen and (max-width: $breakpoint-laptop){
  .nav-mobile {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 5rem;
    padding: 1rem 2rem;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__logo {
      width: 5rem;
      height: 5rem;
      margin-left: -.5rem;
      fill: $primary-1;
    }

    &__title {
      display: block;
      margin: 0;
      padding: 0;
      color: $dark-grey;
      font-size: 1.25rem;
      font-family: $lora;
      
      &--sm {
        font-size: .75rem;
        font-family: $poppins;
      }
    }

    &__hamburger {
      width: 1.5rem;
    }

    &__sidebar {
      position: fixed;
      z-index: 999;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      overflow-y: scroll;
      width: 35%;
      height: 100%;
      padding: 2rem;
      background-color: $white;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &--active {
        @keyframes slideIn {
          from {
            right: -35rem;
          }
    
          to {
            right: 0;
          }
        }

        @extend .nav-mobile__sidebar;
        top: 0;
        right: 0;
        animation: slideIn 200ms ease-out;
      }

      &--inactive {
        @keyframes slideOut {
          from {
            right: 0rem;
          }
    
          to {
            right: -35rem;
          }
        }

        @extend .nav-mobile__sidebar;
        position: fixed;
        top: 0;
        right: -35rem;
        animation: slideOut 200ms ease-out;
      }

      &--items {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        padding: 0;
        list-style-type: none;
      }

      &--item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        font-weight: 600;
      }

      &--carrot {
        @keyframes derotateCarrot {
          0%   {
            transform: rotate(180deg);
          }

          100% {
            transform: rotate(0deg);
          }
        }
        
        margin-right: 1rem;
        animation: derotateCarrot 200ms ease-in-out forwards;

        &--active {
          @keyframes rotateCarrot {
            0%   {
              transform: rotate(0deg);
            }

            100% {
              transform: rotate(180deg);
            }
          }

          margin-right: 1rem;
          animation: rotateCarrot 200ms ease-in-out forwards;
        }
      }

      &--dropdown{
        &--active {
          @keyframes dropDown {
            0% {
              transform: scaleY(0)
            }

            80% {
                transform: scaleY(1.1)
            }

            100% {
                transform: scaleY(1)
            }
          }

          transform-origin: top center;
          animation: dropDown 200ms ease-in-out forwards;
        }

        &-item {
        display: flex;
        margin: 0 -2.5rem;
        padding: .5rem 3rem;
        background-color: $primary-3;
        font-weight: 100;
        }
    }

      &--break {
        display: flex;
        width: 98%;
        height: 1px;
        min-height: 1px;
        border: 1px;
        background-color: $primary-1;
      }

      &--footer{
        display: flex;
        flex-direction: column;
        padding: 1rem 0rem 3rem 0rem;

        &-link{
          display: flex;
          padding: .5rem 0;;
        }

        &-button{
          align-self: center; 
          margin-top: 1rem;
        }
      }
    }

    &__navclose {
      align-self: flex-end;
      min-width: 15px;
      min-height: 15px;
      margin: 1rem 1rem;
    }
  }
}

// $breakpoint-laptop-large: 1440px;
// $breakpoint-laptop: 1250px;
// $breakpoint-tablet-large: 1024px;
// $breakpoint-tablet: 960px;
// $breakpoint-mobile-large: 768px;
// $breakpoint-mobile: 480px;

@media screen and (max-width: $breakpoint-mobile-large){
  .nav-mobile {
    &__title {
      padding-left: .25rem;
      font-size: 1rem;

      &--sm {
        padding-left: .25rem;
        font-size: .5rem;
      }
    }

    &__sidebar {
      &--active {
        width: 90%;
        max-width: $breakpoint-mobile-large;
        padding: 1rem 2.5rem;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-mobile){
  .nav-mobile {
    height: 3rem;
    padding: 1rem 1.5rem;

    &__logo {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    &__title {
      padding-left: .25rem;
      font-size: .75rem;

      &--sm {
        display: none;
      }
    }

    &__sidebar {
      width: 95%;
      padding: .5rem 1rem;

      &--item {
        width: 95%;
        margin-left: auto;
        padding: .5rem 0;
      }

      &--dropdown {
        &-item {
          width: 100%;
          margin: 0 -0.1rem;
          padding: .5rem 1.5rem;
        }
      }

      &--footer {
        width: 95%;
        // margin: auto auto 0 auto;
        padding: .25rem 0rem 3rem 0rem;

        &-link {
          padding: .5rem 1rem;
        }
      }
    }
  }
}
