.contact-info {
  margin-top: 7rem;
  
  @media screen and (max-width: $breakpoint-mobile) {
    margin: 3rem 2rem;
    text-align: left;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;

    @media screen and (max-width: $breakpoint-mobile) {
      font-size: 20px;
    }
  }
}
