// Import Normalize Stylesheet
@import 'styles/normalize';

// Import Utilities
@import
  'styles/utilities/alignment',
  'styles/utilities/borders',
  'styles/utilities/breakpoints',
  'styles/utilities/colors',
  'styles/utilities/fonts',
  'styles/utilities/typography';

// Import pages
// TODO: need to add pages import
@import
  'pages/Events/Events',
  'pages/Event/Event',
  'pages/Contact/Contact',
  'pages/Clubs/Clubs',
  'pages/Club/Club',
  'pages/Scholarships/Scholarships',
  'pages/MissionAndPurpose/MissionAndPurpose',
  'pages/BanquetFacility/BanquetFacility',
  'pages/Home/Home',
  'pages/StudentExchange/StudentExchange',
  'pages/Volunteer/Volunteer';

// Import Sections
// TODO: refactor this though
@import
  'sections/DonateSectionOne/DonateSectionOne',
  'sections/DonateSectionTwo/DonateSectionTwo';

// Import components
@import 'components/components';
