.card-square {
  display: grid;
  grid-template-areas: 'text' 'button';
  grid-template-rows: auto 80px;
  min-width: 280px;
  border-radius: $card-border-radius;
  background: $lighter-grey;
  box-shadow: $card-square-shadow;
  text-align: center;
}

.card-square__text {
  grid-area: text;
  margin-bottom: 10px;
  padding: 57px 7px 0 7px;
  color: $black;
  font-style: normal;
  font-family: Poppins;
}

.card-square__title {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
}

.card-square__subtitle {
  margin: 0 0 17px 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.card-square__body {
  margin: .8rem 15px;
  font-size: 17px;
  line-height: 25px;
}

.card-square__button {
  grid-area: button;
  height: 45px;
  margin: 0 auto 30px auto;
}

@media (max-width: $breakpoint-mobile) {
  .card-square {
    margin: 19px 16px;
    
    &__text {
      padding-top: 20px;
    }

    &__title {
      font-size: 22px;
    }

    &__subtitle {
      font-size: 17px;
    }

    &__body {
      margin: 29px 16px;
      font-size: 14px;
    }
  }
}
