@import 'styles/utilities/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/utilities/typography.scss';

.card-square {
  display: grid;
  grid-template-areas: 'text' 'button';
  grid-template-rows: auto auto;
  border-radius: 5px;
  background: $lighter-grey;
  box-shadow: $card-square-shadow;
  text-align: center;
}

.card-square__text {
  grid-area: text;
  margin-bottom: 10px;
  padding: 57px 7px 0 7px;
  color: $black;
  font-style: normal;
  font-family: Poppins;
}

.card-square__header {
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
}

.card-square__subheader {
  margin: 0 0 17px 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}

.card-square__body {
  margin: 0 15px;
  font-size: 17px;
  line-height: 25px;
}

.card-square__button {
  grid-area: button;
  height: 45px;
  margin: 0 auto 30px auto;
}
