.events {
  margin: 3rem auto 4rem;

  &__title {
    margin-top: 3rem;
  }

  &__subtitle {
    font-size: 24px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }
}
