@import 'styles/utilities/colors.scss';
@import 'styles/fonts.scss';
@import 'styles/utilities/typography.scss';

$card-image-height: 157px;

/* stylelint-disable */
.card-small {
  display: grid;
  width: 90%;
  min-height: 400px;
  background: $light-grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
  grid-template-areas:
    'image'
    'text'
    'button';
  grid-template-rows: $card-image-height auto 74px;
  text-align: left;
  align-items: left;
  justify-self: center;
}
/* stylelint-enable */

.card-small__image {
  grid-area: image;
  object-fit: cover;
  width: 100%;
  height: $card-image-height;
  margin-right: auto;
  margin-left: auto;
}

.card-small__text {
  grid-area: text;
  padding: 0 25px;
  font-weight: normal;
  font-style: normal;
  font-family: Poppins;
}

.card-small__header {
  font-weight: medium;
  font-size: 21px;
  line-height: 30px;
}

.card-small__paragraph {
  // margin: 0 60px;
  font-size: 17px;
  line-height: 25px;
}

.card-small__button {
  grid-area: button;
  align-self: center;
  justify-self: left;
  margin-left: 25px;
  border-style: none;
  padding: 0;
  background: $light-grey;
  color: $purple;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
